<app-loader *ngIf="loading"></app-loader>
<app-error *ngIf="!loading && error" [error]="error"></app-error>
<div class="container-fluid" *ngIf="!loading && !error">
  <div class="row my-2">
    <div class="col-2">
      <a routerLink="/members/create" class="btn btn-primary"
        >Create <fa-icon [icon]="faPlus"></fa-icon
      ></a>
    </div>
    <form class="form-horizontal col-10" (ngSubmit)="onSubmit($event)">
      <div class="float-right">
        <div class="input-group">
          <input
            class="form-control"
            name="searchValue"
            [(ngModel)]="searchValue"
            placeholder="Search"
          />
          <div class="input-group-append">
            <button
              class="input-group-text btn-search"
              id="search"
              type="submit"
            >
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>

            <button
              type="button"
              class="input-group-text btn-search btn-flat"
              (click)="clearFilter()"
            >
              <fa-icon [icon]="faEraser"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr id="listHeaders">
          <th>Name</th>
          <th>Website</th>
          <th>Friends count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>{{ member.name }}</td>
          <td>{{ member.website }}</td>
          <td>{{ member.friends.length }}</td>
          <td class="pull-right">
            <a
              routerLink="/members/details/{{ member.id }}"
              class="btn btn-primary btn-sm"
              tooltip-placement="top"
              uib-tooltip="details"
            >
              <fa-icon [icon]="faEye"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <app-paging
      (handlePageChange)="onPageChange($event)"
      [paging]="this.paging"
    ></app-paging>
  </div>
</div>
